/* Add style global */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.auth-form-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.auth-form {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-field {
  text-align: start;
  margin: 15px 0px;
}

.required-indicator {
  color: #ff0000;
}

.form-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-top: 0.3rem;
}

.form-input {
  background-color: transparent;
  border: none;
  outline-color: #cfcfcf;
  width: 100%;
  padding-left: 10px;
  height: 44px;
}

.form-input-icon {
  background-color: #FCBA03;
  padding: 10px 10px 6px 10px;
  border-radius: 0 4px 4px 0;
}

.form-btn-wrapper {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 0.5rem;
}

.btn-submit {
  background-color: #FCBA03;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 6px 10px rgba(252, 186, 3, 0.3);
}

.btn-submit:hover {
  background-color: rgba(252, 186, 3, 0.863);
}

.btn-cancel {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: rgba(0, 0, 0, 0.863);
}

.auth-btn {
  background-color: #FCBA03;
  box-shadow: 0px 8px 12px rgba(252, 186, 3, 0.3);
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  margin: 15px 0px;
}

.auth-btn:hover {
  background-color: rgba(252, 186, 3, 0.863);
}

.auth-btn button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

.auth-link {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #956D00;
}

.auth-link:hover {
  color: #6d5000;
  text-decoration: underline;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  height: 100%;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card-header {
  border-bottom: 1px solid #e0e0e0;
}

.card-title {
  padding-bottom: 0.2rem;
  font-size: 1.25rem;
}

@media (max-width: 475px) {
  .form-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
  }
}